@import "./index";

* { box-sizing: border-box }

.component-root {
  background-color: $lightgray;
  border: 1px solid darken($lightgray, 10%);
  padding: 10px;
}

//.component-root + .component-root {
//  margin-top: 20px;
//}
