@import "../../../../../client/styles/index";

.cattle-bid-item {

  input,
  select {
    //margin-bottom: 5px;
    width: 59%;
    padding: 3px;
  }

}

.form-group + .form-group {
  margin-top: 5px;
}

.input-group {
  display: table;
  border-collapse: collapse;

  input {
    width: 51%;
    display: table-cell;
    vertical-align: middle;
  }

  .input-group-addon {
    background-color: darken($lightgray, 10%);
    width: 15%;
    text-align: center;
    display: table-cell;
    color: #444;
    vertical-align: middle;
  }
}
