@import "../../../client/styles/index";

.bid-board {
  label {
    font-weight: bold;
  }

  input {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: $red;
    font-size: 1rem;
  }

  @keyframes flash {
    0% {
      background-color: $yellow;
    }
    50% {
      background-color: $lightgray;
    }
    100% {
      background-color: $yellow;
    }
  }
  &.-flash {
    animation-name: flash;
    animation-duration: 500ms;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  
  &.-has-bid {
    background-color: $yellow;
  }
}
