@import "../../../../client/styles/index";

.bidder-chat__list {
  width: 100%;
  border: 1px solid lightgray;
  padding: 10px;
  font-size: .8rem;
  overflow: auto;
  background-color: white;

  ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    align-items: flex-end;
    height: 135px;
    margin: 0;
    padding: 0;
  }

  li {
    width: 100%;
    list-style-type: none;
    padding-bottom: 3px;
  }
}

.bidder-chat__action {

  input {
    padding: 3px;
    width: 80%;

    &:disabled:hover {
      cursor: not-allowed;
    }
  }

  button {
    width: 19%;
    float: right;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    color: white;
    background: linear-gradient(0deg, $blue, #4888ff);

    &:hover:not(:disabled) {
      background: linear-gradient(0deg, darken($blue, 10%), darken(#4888ff, 10%));
    }

    &:disabled {
      opacity: .3;
      cursor: not-allowed;
    }
  }
}

.bidder-chat__lobby {
  background-color: $lightgray;
  border: 1px solid darken($lightgray, 10%);
  padding: 0.7rem;
}
.bidder-chat__private {
  background-color: darken($lightgray, 30%);
  border: 1px solid darken($lightgray, 10%);
  padding: 0.7rem;
}
