@import "../../../../client/styles/index";

.logged-in-users__list {
  background-color: white;
  height: 150px;
  overflow: auto;

  p {
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid $lightgray;
    cursor: pointer;
    
    &:hover {
      background-color: lighten($lightgray, 4%);
    }
  }
}
